.dashboardWidget{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    margin: 8px;
}

.dashboardWidget ::-webkit-scrollbar {
    display: none;
  }

.widgetTitle {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 28px;
    padding: 8px;
    margin: 0;
}
